* {
	text-align: center;
}
body {
	background-image: url(https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg);
	background-size: 100%;
}
section {
	width: 70vh;
	height: 80vh;
	margin: auto;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
}

h1, h3, h4 {
	font-size: 200%;
}
