/*

*{
  font-family: 'Inconsolata', monospace;
}
.navbar {
  display: inline-flex;
  background-color: lightblue;
  width: 100%;
  justify-content: space-between;
}
.navbar > div{
  padding:20px
}
.linknavbar{
  display: inline-flex;
}
.linknavbar > div{
  padding-left:10px;
  padding-right:10px;
  height: auto;
}
.linknavbar > div:hover{
  background-color: brown;
}

input{
  width: 80%;
  border: 0.5px lightblue solid;
  font-size: 12px;
  height: 28px
}
#butsearch{
  border: 0.5px lightblue solid;
  height: 30px;
  position: relative;
  right: 13%;
  background-color: lightblue;
}

.form {
  width: 400px;
  margin: auto;
  margin: 10px
}




.datashow{
  width: 70%;
  padding:10%;
  margin: auto;
  margin-top: 10px;
  border: 0.5px lightblue solid;
}

.current{
  width: 50%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.current > div{
  font-size: 20px;
}
img{
  width: 50%;
  margin: auto;
}
h1{
  text-align: center;
  font-size: 40px;
}
.forecast{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.forecast > div{
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 0.5px lightblue solid;
}
.forecast > div > div{
  padding: 8px;
  margin: 8px;
}
#butfav {
  border: 0.5px lightblue solid;
  height: 30px;
  position: absolute;
  right: 20%;
  top: 30%;
}*/
